Source: ros-kinetic-gx-sound-player
Section: misc
Priority: extra
Maintainer: GROOVE X Development Team <dev@groove-x.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: https://github.com/groove-x/gx_sound
Standards-Version: 3.9.2

Package: ros-kinetic-gx-sound-player
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-gx-sound-msgs, ros-kinetic-rospy
Description: The gx_sound_player package
